p {
    color: #0000FF !important;
}
div > p {
    color: red;
}
body{ /* Herança*/
    color: black;
}
/*
a. inline
b. IDs
C. Classes, pseudoclasses, atributos
d. Elementos e pseudoelemento

p{}             0,0,0,1         1
div p{}         0,0,0,2         2
p.intro{}       0,0,1,1         11
#menu{}         0,1,0,0         100
style=""        1,0,0,0         1000
*/